# python 3.12.3
transformers >= 4.43.0
datasets
tensorboard
pandas
numpy
matplotlib
scienceplots
omegaconf

# for Optuna hyperparameter optimisation
optuna
optuna-integration[pytorch-lightning]
plotly # for visualisation
kaleido # for visualisation
scikit-learn # for calculation in visualisation

## LoRA
# sentencepiece
# peft
# evaluate

## wordcloud
# wordcloud

## agentic workflow
# crewai
# langchain-huggingface
