# python 3.12.3
transformers >= 4.43.0
datasets
sentencepiece
peft
evaluate
tensorboard
pandas
numpy
matplotlib
scienceplots
omegaconf

## wordcloud
# scikit-learn
# wordcloud

## agentic workflow
# crewai
# langchain-huggingface
